
/* -------- RESET -------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  background: #f9fafb;
  color: #1f2937;
  line-height: 1.7;
}

/* -------- HEADER -------- */
header {
  background: linear-gradient(135deg, #1e3a8a, #2563eb);
  color: white;
  text-align: center;
  padding: 100px 20px;

}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 1.3rem;
  margin-top: 10px;
}

/* -------- NAV -------- */
nav {
  background: white;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin: 15px 25px;
}

nav ul li a {
  text-decoration: none;
  color: #1f2937;
  font-weight: 600;
  transition: color 0.3s;
}

/* -------- SECTIONS -------- */
section {
  max-width: 1100px;
  margin: auto;
  padding: 80px 20px;
}

section h2 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 30px;
}

/* -------- ABOUT -------- */
.about p {
  max-width: 750px;
  margin: auto;
  text-align: center;
  font-size: 1.1rem;
}

/* -------- SKILLS -------- */
.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.skill {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-weight: 600;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

/* -------- PROJECTS -------- */
.projects-container {
  display: grid;
  gap: 25px;
}

.project {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.06);
}

.project h3 {
  margin-bottom: 10px;
}

/* -------- CONTACT -------- */
.contact {
  text-align: center;
  font-size: 1.1rem;
}
.contact a{
  text-decoration: none;
  color: black;

}


/* -------- FOOTER -------- */
footer {
   background: linear-gradient(135deg, #1e3a8a, #2563eb);
  color: white;
  text-align: center;
  padding: 25px;
}

/* -------- RESPONSIVE -------- */
@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  header h1 {
    font-size: 2.3rem;
  }
}

nav ul li a:hover {
  color: #2563eb;
}

.skill:hover {
  transform: translateY(-5px);
  transition: 0.3s;
}

.project:hover {
  transform: translateY(-6px);
  transition: 0.3s;
}
