*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
      padding: 10px;
      display: flex;
      justify-content: space-between;
      background: rgba(0, 0, 0, 0.89);
      align-items: center;
      color: #ffffff;

}

 nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
   header li{
     display: inline;
     margin: 10px;
    
 }
  header nav ul li a{
  text-decoration: none;
  color: white;
 }
header nav ul li a:hover{
  text-decoration: underline;
  animation: 0s;
 }
 .container{
    height: 100vh;
      background: linear-gradient(
        rgba(0, 0, 0, 0.55),
        rgba(0, 0, 0, 0.55)
      ),
      url("images/download3.jpg") no-repeat center center/cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: #ffffff;
      padding: 20px;
 }
 .container,h3{
     font-size: 3rem;
      margin-bottom: 15px;
    
 }
 .explore,button{
    border-radius: 50px;
    padding: 15px;
    background-color:orange;
     color: white;
     
 }
 .container,p{
    font-size: 1.2rem;
      margin-bottom: 25px;
      line-height: 1.6;
    
 }
 .gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
    border: 1px solid black;
    width: 300px;
    height: 250px;
    border-color: white;
    padding-top: 20px,20px;
    place-items: center;
    margin: 40px;
    
    
   

 }
 .menu_grid{
   display: flex;
   flex-direction: column;
   margin: 0,auto;
   
 }
 .menu_grid,img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
   
 }
 .h2,h2{
    text-align: center;
    font-size: larger;
    font-weight: 500;
    margin: 30px;
    gap: 30px;

 }
 .menu_grid,p{
   text-align: center;
   font-size: small;
   margin-bottom: 20px;

 }
 .about{
   text-align: center;
    font-size: larger;
    font-weight: 500;
    margin: 30px;
    gap: 30px;
 }
 .about,p{
   text-align: justify;
   font-size: medium;
   line-height: 1.5;
 }
 .contact,h3,p{
   text-align: center;
   font-size: large;
   font: 300;
    
 }
 .contact,form{
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   padding: 10px;
   gap: 10px;
 }
 .contact,label{
   text-align: center;
   gap: 10px;
 }
 .contact,input{
   text-align: center;
   width: 300px;
   margin: 0 auto;
   padding: 10px;
   border-radius: 10px;
 }
 .contact,textarea{
   margin: 0 auto;
   text-align: center;
   row-gap: 10px;
 }
  form button{
    border: 1px solid black;
    border-radius: 50px;
     color: white;
     width: 300px;
    padding: 10px;
     background-color:orange;
    margin: 0 auto;

 }
 form button:hover{
  background-color:blue;
  cursor: pointer;
 }
 footer{
   background: rgba(0, 0, 0, 0.89);
  color: white;
  padding: 15px;
  text-align: center;
 }
 
 
 

 